#contact{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: justify;
	line-height: 1.6em;
	font-size: 1.3rem;
	letter-spacing: 5px;
	text-shadow: 2px 2px 4px #2eef1e;
	text-transform: uppercase;
	}
input[type=submit]{
	background-color: #bada55;
	width: 43%;
	opacity: 0.6;
}
input[type=submit]: hover{
	opacity: 1;
	transition: opacity 0.5s linear;
}