{margin: 100px;}
div.flag{
    width: 640px;
    height: 363px;
    box-shadow: 0 0 5px 1px silver;
    background: center 49% no-repeat, linear-gradient(red 33%, white 33%, white 66%, blue 66%);
    background-size: 110px, 110px, auto;
    position: relative;
}